/platforms/ios/Veneer/build
/node_modules
/renderer/node_modules
/manager/node_modules
/manager/data
/manager/config.js
/manager/renders/3ca4f47dda36b8fc7b1b0dd43acbc235-1280.png
/manager/renders/5e00f84d83911c3bcd02ca59ee58e557-1280.png
/manager/renders/f41bdeda338b881bb0e9f08363c20b2f-1280.png
/manager/certs
manager/renders/*
